* {
	margin: 0;
}
body{
	margin: 0px;
	padding: 0;
	font-family: Roboto;
}
@font-face {
    font-family: 'Roboto, sans-serif';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype'),
         url('../fonts/Roboto-Regular.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
 
@font-face {
    font-family: 'Roboto, sans-serif';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype'),
         url('../fonts/Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto, sans-serif';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.ttf') format('truetype'),
         url('../fonts/Roboto-Medium.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
	font-family: Roboto-Regular;
	src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
	font-family: Roboto-Medium;
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: Roboto-Bold;
	src: url('../fonts/Roboto-Bold.ttf');
}

.container{
	max-width: 1140px;
	height: auto;
	margin: auto;
	background-color: #f1f1f1;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;

}
.container-left{
	width: 74%;
	height: auto;

}
.container-right{
	width: 24%;
	height:auto;
}
.title_heading{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #dddddd;
	display: flex;
	justify-content: flex-start;
}
.tab_title{
	width: 80%;
	height: 50px;
	font-size: 30px;
	color: #333333; 
	
}
.tab_viewall{
	width: 20%;
	height: 50px;
	float: right;
	margin: auto;
	font-size: 13px;
		margin-top: 20px;
		float: right;
}
.tab_viewall a{
	text-decoration: none;
	color: #00a888;

	
}

.tab_line:before{
	content: "";
	display: block;
	border-bottom: 0.1px solid #ffab4c;
	width: 40px;
	margin-top: -3px;

}
.post_content{
	width: 100%;
	margin-left: 0;
	background-color: #ffff;
margin: 10px 0;
	border:2px solid transparent;
}
.post_content:hover{
	transform: translateZ(3px);
	box-shadow: 0 0 5px 0.5px #ff9900;
	cursor: pointer;
}

.read_more{
	width: 90px;
	text-align: center;
	border:1px solid #00a888;
	cursor: pointer;
	margin: auto;
	margin-top: 30px;
	line-height: 25px;
	text-decoration: none;
	color: #00a888;
	border-radius: 6px;
}


.read_more:hover{
	background-color:#00a888;
	color: white;
}

.subject{
	padding-bottom: 40px;
}
.adv {
	width: 100%;
}
.adv img{
	max-width: 100%;
}


.next_page{
	display: inline-flex;
	width: 30px;
	height: 30px;
	border:1px solid white;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
	

}
.next_page a{
	margin: auto;
	color: #999999;
	text-decoration: none;
}
.page_link{
	text-align: center;
	display: none;
padding-bottom: 20px;
margin-top: -20px;}
.next_page:hover{
	background-color: #ffaa00;

}
.next_page:hover a{
	color: white;
}
.next_page a:hover{
	color: white;
}
.loading{
	color: #00a888;
	width: 100%;
	text-align: center;
	display: none;
	margin-top: -20px;
	padding-bottom: 20px;
}
.post_news a{
	text-decoration: none;
	color: black;
	font-weight: 450;
	
}
